<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="form row">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <h3 class="form-title">登录</h3>
                <div class="col-md-9">
                    <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="Username" id="username" name="username"
                            autofocus="autofocus" maxlength="20" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock fa-lg"></i>
                        <input class="form-control required" type="password" placeholder="Password" id="password" name="password" />
                    </div>
                    <div class="form-group col-md-offset-9">
                        <button type="submit" class="btn btn-success pull-right" name="submit" id="login-btn">登录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/info.js"></script>
<script>
    $(document).ready(function() {
        $("#login-btn").click(function() {
            var username = $("#username").val();
            var password = $("#password").val();

            $.ajax({
                type: "POST",
                url: "/api/user/login/",
                data: {"username": username, "password": password},
                dataType: "json",
                success: function(data) {
                    if(data.code == -1) {
                        show_box('error', data.info, 1000);
                    } else {
                        window.location.href = "/home/index";
                    }
                }
            });
        });
    });
</script>
</html>