<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>帖子编辑页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- 标题及作者 -->
            <h3 class="col-12 mt-4 mb-4">标题</h3>
            <div class="form-group">
                <i class="fa fa-user fa-lg"></i>
                <input class="form-control required" type="text" placeholder="..." id="post-title" name="post-title"
                    autofocus="autofocus" maxlength="20" />
            </div>
            <!-- 文章正文 -->
            <h3 class="col-12 mt-4 mb-4">正文</h3>
            <div class="col-12" id="editor"></div>
            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default" id="cancel-btn">取消</button>
                <button type="button" class="btn btn-default" id="submit-btn">提交</button>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/info.js"></script>
<script src="/static/wangEditor-3.1.1/release/wangEditor.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('editor') )
        editor.create()

        $("#cancel-btn").click(function() {
            editor.txt.clear();
        });

        $("#submit-btn").click(function() {
            var title = $("#post-title").val();
            var content = editor.txt.text();

            $.ajax({
                type: "POST",
                url: "/api/post/post_editing/",
                data: {"title": title, "content": content},
                dataType: "json",
                success: function(data) {
                    if(data.code == -1) {
                        show_box('error', data.info, 1000);
                    } else {
                        window.location.href = "/home/myposts";
                    }
                }
            });
        });
    });
</script>
</html>